name: Test TPM

on:
  push:
    branches:
      - malmiller/update-response-to-be-json

  workflow_dispatch:
    inputs:
      github_event_name:
        description: 'GitHub event name'
        required: true
        type: choice
        options:
          - issues
          - issue_comment
      github_issue_id:
        description: 'GitHub issue ID'
        required: true
      github_comment_id:
        description: 'GitHub issue comment ID'
        required: false

  issues:
    types: [opened, edited]
  issue_comment:
    types: [created]

jobs:
  test-tpm-agent:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Build Docker image with cache
        run: |
          docker buildx build \
            --cache-from=type=local,src=/tmp/.buildx-cache \
            --cache-to=type=local,dest=/tmp/.buildx-cache-new,mode=max \
            --load \
            -t tpm-agent .

      - name: List Docker images
        run: docker images

      - name: Move cache (temp fix for Buildx)
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - name: Run TPM Agent
        env:
          INPUT_CHECK_ALL: 'True'
          INPUT_GITHUB_EVENT_NAME: ${{ inputs.github_event_name|| github.event_name }}
          INPUT_GITHUB_ISSUE_ID: ${{ inputs.github_issue_id || github.event.issue.number }}
          INPUT_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          INPUT_GITHUB_ISSUE_COMMENT_ID: ${{ inputs.github_comment_id || github.event.comment.id }}
          INPUT_AZURE_OPENAI_TARGET_URI: ${{ secrets.AZURE_OPENAI_TARGET_URI }}
          INPUT_AZURE_OPENAI_API_KEY: ${{ secrets.AZURE_OPENAI_API_KEY }}
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: |
          docker run --rm \
            -e INPUT_CHECK_ALL \
            -e INPUT_GITHUB_EVENT_NAME \
            -e INPUT_GITHUB_ISSUE_ID \
            -e INPUT_GITHUB_TOKEN \
            -e INPUT_GITHUB_ISSUE_COMMENT_ID \
            -e INPUT_AZURE_OPENAI_TARGET_URI \
            -e INPUT_AZURE_OPENAI_API_KEY \
            -e GITHUB_REPOSITORY \
            tpm-agent
